body
{
	margin-top: 110px;
	background-color: #dcdcdc;
}
h1
{
	text-align: center;
	color: #333333;
}
.fx
{
	height: 350px;
	width: 290px;

}
.guru11{
	height: 350px;
	width: 800px;
}
.char{
	height: 200px;
	width: 300px;
}
.col-sm-4 h3
{
	text-align: center;
	color: #424242;
}
.col-sm-6 h3{
	text-align: center;
	color: #424242;
}
.image
{
	float: center;
	height: 150px;
	width: 1200px;
}
.jumbotron
{
	text-align: center;
}
.jumbotron h2
{
	color: #cd8500;
}
footer{
	text-align: center;
	color: black;
	
}